* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

/*navegation bar styling*/

.navbar {
    position: fixed;
    width: 100%;
    z-index: 999;
    background: mediumseagreen;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: all 0.3s ease;
}

.navbar.sticky {
    padding: 15px 0;
    background: mediumseagreen;
}

.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}

.navbar .logo a span {
    color: mediumseagreen;
    transition: all 0.3s ease;
}

.navbar.sticky .logo a span {
    color: #fff;
}

.navbar .manu li {
    list-style: none;
    display: inline-block;
}

.navbar .manu li a {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}

.navbar .manu li a:hover {
    color: mediumseagreen;
}

.navbar .sticky .manu li a:hover {
    color: #fff;
}

/* menu btn styling*/

.menu-btn {
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

.scroll-up-btn {
    position: fixed;
    height: 45px;
    width: 47px;
    background: mediumseagreen;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.scroll-up-btn.show {
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}

/*about sction*/

.about {
    display: flex;
    background: url(https://image.freepik.com/free-vector/geometric-background-memphis-style_52683-35346.jpg) no-repeat center/cover;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    font-family: 'Times New Roman', Times, serif;
}

.about.max-width {
    margin: auto 0 auto 40px;
}

.about .about-content .text-1 {
    font-size: 27px;
}

.about .about-content .text-2 {
    font-size: 70px;
    font-weight: 600;
    margin-left: -3px;
}

.about .about-content .text-3 {
    font-size: 40px;
    margin: 5px 0;
}

.about .about-content .text-3 span {
    color: mediumseagreen;
    font-weight: 500;
}

.about .about-content a {
    display: inline-block;
    background: mediumseagreen;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid mediumseagreen;
    transition: all 0.3s ease;
}

.about .about-content a:hover {
    color: mediumseagreen;
    background: none;
}

/* all similar content styling code*/

.section {
    padding: 100px 0;
}

.home, .work, .skills, .contact {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.work .work-content, .skills .skills-content, .contact .contact-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

section .title {
    position: relative;
    text-align: center;
    font: size 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}

section .title::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}

.section {
    padding: 100px 0;
}

section .title::after {
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: mediumseagreen;
    padding: 5px;
    background: #fff;
    transform: translateX(-50%);
}

/* animated background*/

/* 
.d1 {
    position: absolute;
    background-image: url(https://cdn5.vectorstock.com/i/1000x1000/32/99/abstract-geometric-background-with-triangles-vector-20903299.jpg);
    background-size: 2700px 1500px;
    height: 30vh;
    width: 15vw;
    background-position: 0 50%;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.8);
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    animation: dd1 10s 1, dd12 10s 1;
    animation-delay: 4s, 14s;
}

.d2 {
    position: absolute;
    background-image: url(https://cdn5.vectorstock.com/i/1000x1000/32/99/abstract-geometric-background-with-triangles-vector-20903299.jpg);
    background-size: 2700px 1500px;
    height: 50vh;
    width: 25vw;
    background-position: -10vw 50%;
    left: 10vw;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    animation: dd2 10s 2;
    animation-delay: 4s;
}

.d3 {
    position: absolute;
    background-image: url(https://cdn5.vectorstock.com/i/1000x1000/32/99/abstract-geometric-background-with-triangles-vector-20903299.jpg);
    background-size: 2700px 1500px;
    overflow: hidden;
    height: 100vh;
    width: 40vw;
    left: 25vw;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.8);
    background-position: -35vw 50%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
    animation: dd3 10s 2;
    animation-delay: 4s;
}

.d4 {
    position: absolute;
    overflow: hidden;
    background-image: url(https://cdn5.vectorstock.com/i/1000x1000/32/99/abstract-geometric-background-with-triangles-vector-20903299.jpg);
    background-size: 2700px 1500px;
    height: 80vh;
    width: 25vw;
    left: 60vw;
    background-position: -70vw 50%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    animation: dd4 10s 2;
    animation-delay: 4s;
}

@keyframes dd1 {
    0% {}
    50% {
        width: 95vw;
    }
}

@keyframes dd12 {
    0% {}
    50% {
        background-position: Calc(0vw - 40px) 50%;
    }
}

@keyframes dd2 {
    0% {}
    50% {
        background-position: Calc(-10vw - 40px) 50%;
    }
}

@keyframes dd3 {
    0% {}
    50% {
        background-position: Calc(-35vw - 40px) 50%;
    }
}

@keyframes dd4 {
    0% {}
    50% {
        background-position: Calc(-70vw - 40px) 50%;
    }
}

*/

/*home section */

.home .title::after {
    content: "who I am";
}

/*.home .home-content{
    display: flex;
}*/

.home .home-content
/*.work .work-content*/

    {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.home .home-content .left {
    width: 45%;
}

.home .home-content .left img {
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}

.home .home-content .right {
    width: 55%;
}

.home .home-content .right .text {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px
}

.home .home-content .right .text span {
    color: mediumseagreen;
}

.home .home-content .right p {
    text-align: justify;
}

.home .home-content .right a {
    display: inline-block;
    background: mediumseagreen;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid mediumseagreen;
    transition: all 0.3s ease;
}

.home .home-content .right a:hover {
    color: mediumseagreen;
    background: none;
}

/*Work section  styling*/

.work {
    color: #fff;
    background:#111;
}

.work .title::before {
    background: #fff;
}

.work .title::after {
    background: #111;
    content: "what i provided";
}

.work .work-content .card {
    width: calc(33% - 20px);
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    cursor: pointer;
    display: inline-block;
    /*display: inline-block;*/
}

.work .work-content .card .box {
    transition: all 0.13s ease;
}

.work .work-content .card:hover .box {
    transform: scale(1.85);
}

.work .work-content .card i {
    font-size: 50px;
    color: mediumseagreen;
    transition: color 0.3s ease;
}

.work .work-content .card:hover i {
    color: #fff;
}

.work .work-content .card .text {
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

/*skill section  styling*/

.skills .title::after {
    content: "what i know";
}

.skills .skills-content .column {
    width: calc(50% - 30px);
}

.skills .skills-content .left .text {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.skills .skills-content .left p {
    text-align: justify;
}

.skills .skills-content .left a {
    display: inline-block;
    background: rmediumseagreen;
    color:#111;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 16px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid mediumseagreen;
    transition: all 0.3s ease;
}

.skills .skills-content .left a:hover {
    color:#111;
    background: mediumseagreen;
}

.skills .skills-content .right .bar {
    margin-bottom: 15px;
}

.skills .skills-content .right .info {
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}

.skills .skills-content .right .span {
    font-weight: 500;
    font-size: 18px;
}

.skills .skills-content .line {
    height: 5px;
    width: 100%;
    background: lightgray;
    position: relative;
}

.skills .skills-content .line::before {
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: mediumseagreen;
}

.skills .skills-content .html::before {
    width: 65%;
}

.skills .skills-content .css::before {
    width: 75%;
}

.skills .skills-content .javascript::before {
    width: 50%;
}

.skills .skills-content .mysql::before::before {
    width: 10%;
}

/* contact section styling */

.contact {
    background:darkslategrey;
}
.contact .title::before {
    background: #fff;
}
.contact .title {
    color:#fff;
}

.contact .title::after {
    background:darkslategrey;
    content: "get in touch";
}

.contact .contact-content .column {
    width: calc(50% - 30px);
}

.contact .contact-content .text {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.contact .contact-content .left p {
    text-align: justify;
}

.contact .contact-content .left .icons {
    margin: 10px 0;
}

.contact .contact-content .row {
    display: flex;
    height: 65px;
    align-items: center;
}

.contact .contact-content .row .info {
    margin-left: 30px;
}

.contact .contact-content .row i {
    font-size: 25px;
    color: mediumseagreen;
}

.contact .contact-content .info .head {
    font-weight: 500;
}

.contact .contact-content .info .sub-title {
    color: #111;
}

.contact .right form .fields {
    display: flex;
}

.contact .right form .fields .contact .right form .fields .field {
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}

.contact .right form .textarea {
    height: 80px;
    width: 100%;
}

.contact .right form .field .name {
    margin-right: 10px;
}

.contact .right form .field .email {
    margin-left: 10px;
}

.contact .right form .field input, .contact .right form .textarea textarea {
    height: 100px;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17;
    font-family: 'Times New Roman', Times, serif;
}

.contact .right form .textarea textarea {
    padding-top: 10px;
    resize: none;
}

.contact .right form .button {
    height: 47px;
    width: 170px;
}

.contact .right form .button button {
    height: 100%;
    width: 100%;
    border: 2px solid mediumseagreen;
    background: mediumseagreen;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.contact .right form .button button:hover {
    color: mediumseagreen;
    background: none;
}

/* footer section start */

.footer {
    background: #111;
    padding: 20px 23px;
}

.footer span a {
    color: mediumseagreen;
    text-decoration: none;
}

.footer span a:hover {
    text-decoration: underline;
}

/* responsive media query start */

@media (max-width:1300px) {
    .about.max-width {
        margin-left: 0px;
    }
}

@media (max-width:1104px) {
    .home .home-content .left img {
        height: 350px;
        width: 350px;
    }
}

@media (max-width:991px) {
    .max-width {
        padding: 0 50px;
    }
}

@media (max-width:947px) {
    .max-width {
        padding: 0 50px;
    }
    .menu-btn {
        display: block;
        z-index: 999
    }
    .menu-btn i.active:befor {
        content: "\f00d";
    }
    .navbar .menu {
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu .active {
        left: 0;
    }
    .navbar .menu li {
        display: block;
    }
    .navbar .menu li a {
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .about .about-content .text-2 {
        font-size: 70px;
    }
    .about .about-content .text-3 {
        font-size: 35px;
    }
    .about .about-content a {
        font-size: 23px;
        padding: 10px 30px;
    }
    .max-width {
        max-width: 800px;
    }
    .home .home-content .column {
        width: 100%;
    }
    .home .home-content .left {
        /*display: flex;*/
        justify-content: center;
        margin: 0 auto 60px;
    }
    .home .home-content .right {
        flex: 100%;
    }
    .work .work-content .card {
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
    .skills .skills-content .column, .contact .contact-content .column {
        width: 100%;
        margin-bottom: 35px;
    }
}

@media (max-width:690px) {
    .max-width {
        padding: 0 23px;
    }
    .about .about-content .text-2 {
        font-size: 60px;
    }
    .about .about-content .text-3 {
        font-size: 32px;
    }
    .about .about-content a {
        font-size: 20px;
    }
    .work .work-content .card {
        width: 100%;
    }
}

@media (max-width:500px) {
    .about .about-content .text-2 {
        font-size: 50px;
    }
    .about .about-content .text-3 {
        font-size: 27px;
    }
}